html *
{
   font-family: Arial !important;
}

.simple-simon-says {
  margin-top: 15px;
  min-height: 150px;
  margin-bottom: 15px;
  margin-left: 35%;
  margin-right: 35%;
  border: 1px solid grey;
}

.simple-simon-says h1 {
  margin-top: 36px;
  font-size: 28px;
}

.button {
  background-color: red;
  border: 1px solid darkred;
  border-radius: 10px;
  padding: 11px 20px;
  font-size: medium;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}

button:hover {
  opacity: .6;
}

.button:active {
  background-color: darkred;
}

.box {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 32%;
  margin-right: 32%;
  min-height: 200px;
}

.child-box {
  height: 200px;
  width: 200px;
  margin: 5px;
  border: 1px solid grey;
  display: inline-block;
}
